<app-navbar></app-navbar>

<div class="container">

  <h2>User List</h2>



<!-- <table class="table-sm table-hover">
    <tr *ngFor="let user of userList">
            <td>{{user.FirstName}} - {{user.LastName}}</td>

    </tr>


</table> -->
<div class="table-responsive-md">
  <table class="table ">
    <thead class="table-danger">
      <tr>
     
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">User Name</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of userList;" class="table-secondary">
      
        <td>{{item.FirstName}}</td>
        <td>{{item.LastName}}</td>
        <td>{{item.Email}}</td>
        <td>{{item.UserName}}</td>

      </tr>


    </tbody>
  </table>
</div>
</div>