<app-navbar></app-navbar>

<div class="row">
  <div class="col">

    <!-- <div [ngStyle]="{'background-image':'url('+ image.url +')'}" class="img-container paper img-fluid"> -->
    <img src={{image.url}} class="img-fluid" alt="Project details">

  </div>


</div>



<div class="container">
    <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4">Features</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="#">Download All Features &raquo;</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h2 class="mt-4">Calender</h2>
     
        </div>
      </div>
      <!-- /.row -->
  <div class="row">

    <!-- <div class="col-sm-5 my-5">
      <div class="card">
          <h2 class="mt-4">Floor Plans</h2>
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div> -->
    <h2 class="mt-4">Floor Plans</h2>
    <ul id="thumbnailsList">
        <li *ngFor="let floorPlan of visibleFloorPlan">
          <!-- <a [routerLink] = "['/image', image.id]"> -->
       <img src="{{floorPlan.url}}"  class="tn" width="200" height="160"/>
        <!-- </a> -->

        </li>
     </ul>

  </div>

</div>