<div class="row">


  <div class="col s8 offset-s2">
     <div class="card">
              <div class="sm-jumborton center-align">

                User Sign-in
              </div>

              <form  class="col s12 white"      #userloginform="ngForm" ng-submit="OnSubmit(userloginform">
                             <div class="row">

                                                <div class="input-field col s6">

                                                 
                                                  <input class="validate"  name="UserName" type="text"  #UserName="ngModel" [(ngModel)] = "user.UserName" required>
                                                  <label  data-error="required field!">UserName</label>
                                                </div>
                             </div>
                             <div class="row">

                              <div class="input-field col s6">

                               
                                <input class="validate"  name="Password" type="password"  #Password="ngModel" [(ngModel)] = "user.Password" required  minlength="6">
                                <label data-error="password required">Password</label>
                              </div>
           </div>

               <div class="row">
                               <button   class="btn-large btn-submit"   type="submit">Sign-in</button>
                    
               </div>

              </form>

     </div>


  </div>
</div>