<p>
 {{title}}
</p>


<table  style="border:1px;color:black;">
   
      <!-- <tr>
        <th>Player1</th>
        <th>Player2</th>
      </tr> -->

      <tr>
       <td>  <select [(ngModel)]="selectedValue">
           <option>X</option>
           <option>o</option>
       </select></td>
       <td>  <select>
        <option>X</option>
        <option>o</option>
    </select></td>
    <td>  <select>
      <option>X</option>
      <option>o</option>
  </select></td>
      </tr>
      <tr>
        <td>  <select>
          <option>X</option>
          <option>o</option>
      </select></td>
      <td>  <select>
        <option>X</option>
        <option>o</option>
    </select></td>
    <td>  <select>
      <option>X</option>
      <option>o</option>
  </select></td>
       </tr>
       <tr>
        <td>  <select>
          <option>X</option>
          <option>o</option>
      </select></td>
      <td>  <select>
        <option>X</option>
        <option>o</option>
    </select></td>
    <td>  <select>
      <option>X</option>
      <option>o</option>
  </select></td>
       </tr>

</table>


<!-- <div class="grid-container">
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div> -->
